/*******************************************************************************
 * aph.layout.scss
 *
 * Styling of the "aph" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 37, ../../../sass/layouts/constrained/constrained.layout.scss */
.l-header,
.l-navigation,
.l-slideshow,
.l-content-first,
.l-main,
.l-product-display,
.l-newsletter-display,
.l-footer-first,
.l-footer {
  *zoom: 1;
  max-width: 1180px;
  _width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-navigation:after,
  .l-slideshow:after,
  .l-content-first:after,
  .l-main:after,
  .l-product-display:after,
  .l-newsletter-display:after,
  .l-footer-first:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 46, ../../../sass/layouts/constrained/constrained.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-main {
  padding: 20px 0; }

@media (min-width: 48em) {
  /* line 59, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1180px; }

  /* line 63, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-branding {
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 66, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-region--header {
    width: 100%;
    float: left;
    margin-right: 1.69492%; }

  /* line 69, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 76, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 80, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 83, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 50em) {
  /* line 98, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1180px; }

  /* line 102, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-branding {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

  /* line 105, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 108, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 115, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 119, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 122, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 137, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1180px; }

  /* line 141, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }

  /* line 144, ../../../sass/layouts/constrained/constrained.layout.scss */
  .l-region--header {
    width: 49.15254%;
    float: right;
    margin-right: 0; }

  /* line 149, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.57627%;
    float: right;
    margin-right: 0; }
  /* line 152, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

  /* line 157, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  /* line 160, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 167, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%; }
  /* line 172, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 175, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -76.27119%; }
  /* line 178, ../../../sass/layouts/constrained/constrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
