.block--menu-menu-privacy-and-terms {
  width: 100%;
  margin-top: 30px;
  float: left;
  margin-left: auto;

  .menu {
    padding: 0;
  }

  .block__title {
    display: none;
  }
  li {

    display: inline;
  }
  li.last {
    &:before {
      content: "| ";
    }
  }
  a {
    text-decoration: none;
    font-weight: 800;
    color: $link-colors;
  }
}