.block--menu-menu-more-information {
  padding-top: $vert-spacing-unit;
  padding-left: $horz-spacing-unit;
  .block__title {
    line-height: 28px;
  }
  span.separator{
    display: none;
  }
  ul {
    padding: 0px;
    margin: 0;
  }
  li {
    padding: $horz-spacing-unit/2 0;
    a {
      list-style: none;
      list-style-image: none;
      @include font-size(18px);
      text-decoration: none;
    }
    &:hover {
      color: darken($white, 15%);
    }
  }
  li.last {
    border: none;
  }
  li.leaf {
    list-style-image: none;
    list-style-type: none;
  }
}
@include breakpoint($tab, true) {
  .block--menu-menu-more-information {
    width: 33.3333%;
    float: left;
  }
}
