.block--menu-menu-follow-us--2 {
  padding-top: $vert-spacing-unit;
  padding-left: $horz-spacing-unit;
  margin-bottom: $vert-spacing-unit;
  .block__title {
    line-height: 28px;
  }
  ul.menu {
    padding: 0px;
    margin: 0;
    .leaf {
      list-style-image: none;
      list-style-type: none;
      list-style: none;
    }
    li {
      float: left;
      margin-right: 10px;
      a {
        display: block;
        height: 35px;
        width: 35px;
        background-size: 35px;
        background: url("../images/f.png");
        background-repeat: no-repeat;
        text-indent: -9999px;
      }
      &:hover {
        color: darken($white, 15%);
      }
    }
    li.last {
      margin-right: 0px !important;
    }
    .facebook {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/f.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .google {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/g.png");
      background-size: 35px 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .linkedin {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/in.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .pinterest {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/p.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .youtube {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/y.png");
      background-size: 35px 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .twitter {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/t.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }
}
@include breakpoint($tab, true) {
  .block--menu-menu-follow-us--2 {
    width: 33.3333%;
    float: left;
    padding-left:11%;
  }
}