.block--menu-menu-follow-us {
  display: none;
  @extend %hlist;
  width: 100%;
  .block__title {
    line-height: 28px;
    display:none;
  }
}

@include breakpoint($tab-narrow, true) { //600
  .block--menu-menu-follow-us {
    //display: none;
    ul.menu {
      padding: 0px;
      margin: 0;
      .leaf {
        list-style-image: none;
        list-style-type: none;
        list-style: none;
      }

      li {
        float: left;
        margin-right: 10px;

        a {
          display: block;
          height: 35px;
          width: 35px;
          background-size: 35px;
          background: url("../images/f.png");
          background-repeat: no-repeat;
          text-indent: -9999px;

        }
        &:hover {
          color: darken($white, 15%);
        }
      }

      .facebook {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/f.png");
        background-size: 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }

      .google {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/g.png");
        background-size: 35px 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }

      .linkedin {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/in.png");
        background-size: 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }

      .pinterest {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/p.png");
        background-size: 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }

      .youtube {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/y.png");
        background-size: 35px 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }

      .twitter {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/t.png");
        background-size: 35px;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }
    }
    li {
      display: block;
      @include font-size(24px);
      font-weight: 800;
    }
    li.first {

    }
    li.last {
      margin-right: 0px !important;

      padding-right:0px;
      a {
        padding-right: 0px;
      }
    }
    a {
      @include font-size(24px);
      text-decoration: none;
      padding: 0 0.5em;
    }
  }
}
@include breakpoint($tab-portrait, true) { //768
  .block--menu-menu-follow-us {
    display: inline-block;
    ul.menu {
      margin: 0;
    }
    li {
      display: block;
      @include font-size(20px);
      font-weight: 800;
    }
    li.first {

    }
    li.last {
    }
    a {
      @include font-size(18px);
      text-decoration: none;
      padding: 0 0.4em;
    }
  }
}

@include breakpoint($tab, true) { //800
  .block--menu-menu-follow-us {
    li {
      display: block;
      @include font-size(22px);
      font-weight: 800;
    }

    a {
      @include font-size(20px);
      text-decoration: none;
      padding: 0 0.3em;
    }
  }
}

@include breakpoint($tab_landscape, true) { //1024
  .block--menu-menu-follow-us {
    li {
      display: block;
      @include font-size(26px);
      font-weight: 800;

    }
    a {
      @include font-size(22px);
      text-decoration: none;
      padding: 0 0.5em;
    }
  }
}

@include breakpoint($desk, true) { //1024
  .block--menu-menu-follow-us {
    li {
      display: block;
      @include font-size(26px);
      font-weight: 800;
      padding: 0.2em 0;
    }
    a {
      @include font-size(22px);
      text-decoration: none;
      padding: 0 0.5em;
    }
  }
}