.block--system-main-menu {
  @extend %hlist;
  display: none;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    color: $headings-colors;
    @include font-size(24px);
    font-weight: 800;
    padding: 0.5em;
    float: none;
    text-align: center;
  }
  a {
    @include font-size(18px);
    text-decoration: none;
    color: $main-nav !important;
    &:hover {
      color: $main-nav;
    }
    &:active {
      color: #515151 !important;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  //600
  .block--system-main-menu {
    padding-top: 35px;
    display: inline-block !important;

    ul.menu {
      li {
        color: $main-nav;
        padding: 0.2em;
        float: left;
        &:before {
          content: "|";
          color: $main-nav;
        }
      }
      li.first {
        padding-left: 0px;
        a {
          padding-left: 0px;
        }
        &:before {
          content: "";
        }
      }
      a {
        @include font-size(16px);
        padding-left: 0.25em;
        &:active {
          color: $main-nav !important;
        }

      }
    }
  }
}

@include breakpoint($tab-portrait, true) {
  .block--system-main-menu {
    padding-top: 5px;
    ul.menu {
      li {
        @include font-size(22px);
        &:before {
          content: "|";
        }
      }
      li.first {
        &:before {
          content: "";
        }
      }
      a {
        @include font-size(16px);
        padding-left: 0.5em;
        padding-right: 0.25em;

      }
    }
  }
}

@include breakpoint($tab_landscape, true) {
  .block--system-main-menu {
    ul.menu {
      li {
        @include font-size(24px);
        &:before {
          content: "|";
        }
      }
      a {
        @include font-size(18px);
        padding-left: 1.2em;
        padding-right: 0.5em
      }
    }
  }
}
