.block--menu-menu-services-menu-page-top {
  @extend %hlist;
  display: none;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    @include font-size(18px);
    font-weight: 800;
    //padding: 0.5em 0;
    width: 25%;
  }

  a {
    display: inline-block;
    @include font-size(18px);
    text-decoration: none;
    padding: 10px 10px;
    &:hover {
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .block--menu-menu-services-menu-page-top {
    display: block;
    li.first {
      padding-left: 0px;

      a {
        padding-left: 0px;
      }
    }

  }
}