.block--nice-menus-1 {
  display: none;
}

@include breakpoint($tab-narrow, true) {
  .block--nice-menus-1 {
    display: block;
    ul.nice-menu {
      margin-top: 15px;
      margin-bottom: 15px;
      li {
        background:none!important;
        border: 0;
        padding: 0 10px;
        a{
          color:$second-nav;
          display: inline-block;
          text-decoration: none;
          @include font-size(16px);
          font-weight: 400;
        }
      }
      li.first {
        padding-left: 0px; /*makes the nav bar line up to left of screen*/
        a {
          padding-left: 0px;
        }
      }
      .nolink {
        display: block;
        @include font-size(16px);
        font-weight: 800;
        padding: 0.3em;
      }
      li.menuparent {
        &:hover {
        }
      }
      /** Drop Down Menu **/
      li.menu-path-nolink ul li {
        border: 1px solid $headings-colors;
        width: 290px;
        a{
          font-weight: 400;
          padding-right: 0;
        }
      }
      .menu-path-nolink {
        ul {
          padding: 0;
          margin: 0;
          border: 0;
          top: 55px;
          left: -60px;
        }
      }

    }
  }
}
@include breakpoint($tab-portrait, true) {  //768
  .block--nice-menus-1 {
    ul.nice-menu {
      li {
        padding-right: 20px;
        &:before {
          content: "|";
          float: left;
          padding-right: 40px;
        }
        a{
          @include font-size(18px);
          padding: 0;
        }
      }
      li.first {
        &:before {
          content: "";
        }
      }
      .nolink {
        @include font-size(18px);
        padding: 0.3em;
      }
    }
  }
}

