
/*These are colour variables for the ohm theme. */
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
$orange     : #e4621c;
$pale-orange: #efa47b;
$green      : #4a993e;
$red        : #b33630;
$yellow     : #d6c460;
$light-grey : #ddd;
$mid-grey   : #6a7076;



/**** Template Site Colours *******/

/*Defaults*/
$black                : #535353;
$white                : #ffffff;

/*Typography*/
$text-color           : #222222;
$link-colors          : #222;
$link-hover           : #2fe34f;
$link-active          : #2fe34f;

$intro-body           : #fff;
$headings-colors      : navy;
$main-nav             : #fff;
$second-nav           : #000;

/*Layout Region Background Colours*/
$intro-background    : rgba(0, 0, 0, 0.75);
$header               : #fff;
$nav1                 : #444;
$nav2                 : #555;
$slideshow-background : #ccc;
$second-sidebar       : #444;
$product-display      : #eee;
$content-first        : #fff;
$content              : #fff;
$newsletter-display   : #333;
$footer-first         : #ddd;
$footer               : #e8e8e8;

/*Misc*/
$button-background    : #ffffff;
$color-1              : #e8e8e8;


/*HWF COLOURS*/

/*Backgrounds*/
$primary-background: #000;
$strapline: #dadada;
$blog-display: #fff;

/*Typography*/
$site-title: #fff;
$intro-heading: #fff;
$footer-heading: #fff;
$footer-links: #fff;
