/*
Set fonts here that will be used throughout the site.
New fonts for projects should be imported in the file sass\base\typography.scss
*/


$default-font : 'PT Sans', Helvetica, Arial, sans-serif;
$headings-font  : 'Maven Pro', Helvetica, Arial, sans-serif;
$third-font  : 'Open Sans',Metrophobic, Arial, serif;

$base-font-size: 14px;
$base-line-height: 20px;

$line-height-ratio: 1.618;
