/*******************************************************************************
 * aph.layout.scss
 *
 * Styling of the "aph" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 36, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
.l-header,
.l-navigation,
.l-slideshow,
.l-content-first,
.l-main,
.l-product-display,
.l-newsletter-display,
.l-footer-first,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-navigation:after,
  .l-slideshow:after,
  .l-content-first:after,
  .l-main:after,
  .l-product-display:after,
  .l-newsletter-display:after,
  .l-footer-first:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 44, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first {
  padding: 20px 0; }

@media (min-width: 48em) {
  /* line 57, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 61, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

  /* line 64, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 67, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--navigation {
    clear: both;
    margin: 0 auto; }

  /* line 75, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 79, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 82, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 50em) {
  /* line 97, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 101, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

  /* line 104, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 107, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--navigation {
    clear: both;
    width: 854px;
    margin-bottom: 15px; }

  /* line 116, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 120, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 123, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 138, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 142, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }

  /* line 145, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 49.15254%;
    float: right;
    margin-right: 0; }

  /* line 150, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.57627%;
    float: right;
    margin-right: 0; }
  /* line 153, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

  /* line 158, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  /* line 161, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 168, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%; }
  /* line 173, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 176, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -76.27119%; }
  /* line 179, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
