@import "susy";

.page-node-63{
  background-image: url("/sites/default/files/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .field--name-field-about-page-image{
    width: 45%;
    float: left;
    img{
      width: 100%;
    }
  }
  .field--name-field-about-us{
    float: right;
    background: #ffffff;
    padding: 35px;
    width: 100%;
    height: 100%;
    p{
      color: #000000;
      font-size: 14px;
    }
  }
  .field--name-field-ethics-image{
    width: 100%;
    float: right;
    img{
      width: 100%;
    }
  }
  .field--name-field-our-ethics{
    float: left;
    clear: both;
    background: #ffffff;
    padding: 20px;
    width: 100%;
    height: 100%;
    p{
      color: #000000;
      font-size: 14px;
    }
  }
  .field--name-field-top-quote{
    float: left;
    margin: 15px 0;
    text-align: center;
    color: #ffffff;
    display: none;
    font-size: 20px;
    font-style: italic;
    line-height: 20px*$line-height-ratio;
  }
}

@include breakpoint($tab-narrow, true) {
  .page-node-63 {
    h1{
      font-size: 30px;
    }
    .field--name-field-top-quote {
      display: block;
    }
    .field--name-field-about-page-image{
      width: 40%;
    }
    .field--name-field-about-us{
      width: 60%;
    }
    .field--name-field-ethics-image{
      width: 40%;
    }
    .field--name-field-our-ethics{
      width: 60%;
    }
  }
}
@include breakpoint($tab, true) {
  .page-node-63 {
    h1{
      font-size: 36px;
    }
    .field--name-field-about-page-image{
      width: 45%;
    }
    .field--name-field-about-us{
      width: 55%;
      height: 530px;
    }
    .field--name-field-ethics-image{
      width: 45%;
    }
    .field--name-field-our-ethics{
      width: 55%;
      height: 530px;
    }
  }
}