/*Set background colours in here*/

.primary-navigation, .l-unconstrained-navigation {
  background: #000000;
}

.secondary-navigation, .l-unconstrained--secondary-navigation {
  background: #ffffff;
  border-bottom: 1px solid #000000;
}

.l-strapline{
  background: $strapline;
}

.l-content-first {
  background: $content-first;
}

.l-main{
  background: $content;
}

.l-product-display-unconstrained,.l-product-display {
  background: #000000;
}

.l-footer-first, .l-footer-first-unconstrained {
  background: $footer-first;
}

.l-blog-display-unconstrained, .l-blog-display, .blog-display {
  background: $blog-display;
}

.l-newsletter-display-unconstrained, .l-newsletter-display {
  background: $newsletter-display;
}

.l-footer-unconstrained {
  background-image: url(/sites/default/files/slide-images/slider.jpg);
  background-repeat: no-repeat;
}

.footer-mask{
  background: rgba(0, 0, 0, 0.7);
  border-top: #ffffff 2px solid;
}