/**
 * $BORDER-LIST
 */
.border-list {
  padding: 0;
  list-style: none;

  li {
    @include padding-trailer(1);
    @include trailer(1);
    border-bottom: 1px solid $light-grey;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
