@import "susy";

.page-node-489{
  background-image: url("/sites/default/files/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    color: #ffffff;
    text-align: center;
  }
  .l-content-first, .l-main{
    background: none;
  }
  .field--name-body{
    @include span-columns(12, 12);
    margin-top: 30px;
    p{
      color: #ffffff;
    }
  }
  .field--name-field-top-quote{
      @include span-columns(12, 12);
      text-align: center;
      color: #ffffff;
      display: none;
      font-size: 20px;
      font-style: italic;
      line-height: 20px*$line-height-ratio;
  }
  .block--webform-client-block-42 {
    @include span-columns(12, 12);
    margin-top: 25px;
    background: none;
  }
}

@include breakpoint($tab-narrow, true) {
  .page-node-489 {
    .field--name-body {
      @include span-columns(6, 12);
    }
    .field--name-field-top-quote{
      display: block;
    }
    .block--webform-client-block-42 {
      @include span-columns(6 omega, 12);
    }
  }
}
