.l-footer{
  h2{
    color: $footer-heading !important;
    font-size: 24px;
  }
  a{
    color: $footer-links !important;
  }
  p{
    color: $footer-links;
  }
  .view-footer-copyright{
    text-align: left;
    float: left;
    margin-bottom: 40px;
  }
}

@include breakpoint($tab, true) {
  .l-footer {
    background-image: url(/sites/default/files/quality.png);
    background-repeat: no-repeat;
    background-position: right 380px;
  }
}