.l-unconstrained-header{
  background: $primary-background;
  .l-branding{
    margin-top: 45px;
    //margin-bottom: 40px;
    h1{
      text-align: center;
      a {
        color: $site-title !important;
      }
    }
    width: 100%;
  }
  .l-region--header{
    width: 100%;
    margin-top: 0;
    p{
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
    .block--block-10{
      float: left;
    }
  }
}

.block-system-main-menu{
  margin-bottom: 15px;
}

.l-region--secondary-navigation{
  width: 799px;
  margin: 0 auto;
}

@include breakpoint($tab-narrow, true) {
  .l-unconstrained-header {
    .l-region--header {
      margin-top: -70px;
    }
  }
}

@include breakpoint($tab, true) {
  .l-unconstrained-header {
    .l-branding {
      margin-bottom: 0;
    }
  }
}


