span.stMainServices.st-linkedin-counter,
span.stMainServices.st-twitter-counter,
span.stMainServices.st-facebook-counter,
span.stMainServices.st-pinterest-counter
{
  height: 33px;
}


.st_googleplus_button {
  .stButton_gradient {
    height:23px!important;
  }
}

.st_fblike_button {
  float:left;
  position:relative;
  top: -3px;
}