/**
 * $SITE-BRANDING
 */
.l-branding {
  h1.site-name {
    @include font-size(30px);
  }
  h2.site-slogan {
    @include font-size(18px);
    float: left;
    margin-bottom: $vert-spacing-unit;
  }
  .block--block-2 {
    display: none;
    p {
      margin-bottom: 0;
    }
  }
}
@include breakpoint($tab-narrow, true) {
  .l-branding {
    h1.site-name {
      display: block;
      @include font-size(30px);
      padding-right: 10px;
    }
    h2.site-slogan {
      display: block;
    }
    .block--block-2 {
      text-align: left;
      display: inline-block;
      margin-top: 18px;
      padding-left: 20px;
      .bwf {
        width: 65px;
        height: 55px;
        padding-left: $horz-spacing-unit;
      }
    }
  }
}
@include breakpoint($tab-narrow, true) {
  .l-branding {
    h2.site-slogan {
      width: 100%;
    }
  }
}




