/**
 * $COLLAPSIBLE
 */
html.js fieldset.collapsible { // Overspecified
  padding: 0;
  border: none;

  legend {
    width: 100%;
    padding: 0;
  }
  .fieldset-legend {
    padding: 0;
    background: none;

    .summary {
      float: right;
    }
  }
  .fieldset-title {
    display: block;
    padding: 1em;
    text-decoration: none;

    &:hover {
    }
  }
  .fieldset-wrapper {
    padding: $vert-spacing-unit $horz-spacing-unit;
  }
}

html.js fieldset.collapsed { // Overspecified
  height: 3.7em; // padding-top + padding-bottom + line-height
}
