/*******************************************************************************
 * aph.layout.scss
 *
 * Styling of the "aph" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";

// Susy Variables
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1200px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab-portrait: 48em 12;
$tab: 50em 12; // At 44em use 12 columns.
$desk: 70em 12; // At 70em use 12 columns.

.l-header,
.l-navigation,
.l-slideshow,
.l-content-first,
.l-main,
.l-product-display,
.l-newsletter-display,
.l-footer-first,
.l-footer {
  @include container; // Define these elements as the grid containers.
  //margin-bottom: $vert-spacing-unit;
}


.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first {
  padding: $vert-spacing-unit 0;
}

@include at-breakpoint($tab_portrait) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(8, 12); // Span 8 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
  }
  .l-region--navigation {
    clear: both;
    margin: 0 auto;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(8, 12); // Span 8 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
  }
  .l-region--navigation {
    clear: both;
    width: 854px;
    margin-bottom: 15px;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($desk) {
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(6, 12); // Span 8 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(6 omega, 12); // Span the last (omega) 4 columns of 12.
  }

  .has-sidebar-first {
    .l-content {
      @include span-columns(9 omega, 12); // Span the last (omega) 9 columns of 12.
    }
    .l-region--sidebar-first {
      @include span-columns(3, 12); // Span 4 out of 12 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span-columns(9, 12); // Span 9 out of 12 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(3 omega, 12); // Span the last (omega) 3 columns of 12.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span-columns(6, 12); // Span 6 out of 12 columns.
      @include push(3, 12);  // Push element by adding 3 out of 12 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(3, 12); // Span 3 out of 12 columns.
    }
    .l-region--sidebar-first {
      @include pull(9, 12); // Pull element by adding 9 out of 12 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}
