.block--webform-client-block-42 {
  background: $color-1;
  margin-bottom: $vert-spacing-unit;
  padding: $vert-spacing-unit $horz-spacing-unit;
  h2.block__title {
    color: $headings-colors;
  }
  //Hide the mandatory labels Grrr!
  .webform-component-textarea label,
  .webform-component-textfield label {
      display: none;
  }

  textarea {
    max-width:100%;
  }

  .form-actions {
    margin-bottom: 0;
    text-align: right;
  }

  .form-submit {
    padding:0 $horz-spacing-unit*2;
  }

  float: left;
}