.node--blog-post--full {
  .field--name-field-blog-post-image {
   width:100%;
   float:left;
    img {
      width:100%;
    }
  }
  }
@include breakpoint ($tab-portrait,true) {
.node--blog-post--full {
  .field--name-field-blog-post-image {
    width:auto;
    display: block;
    float: right;
    padding: 0 0 $vert-spacing-unit $horz-spacing-unit;
  }
}
}