@import "susy";

.node-type-basic-product {
  h1{
    font-size: 26px;
    color: #000000;
  }
  h3{
    color: #000000;
  }
  .product-l-col {
    @include span-columns(12, 12);
  }
  .product-r-col {
    @include span-columns(12, 12);
  }
}

@include breakpoint($mobile-narrow, true) {
  .node-type-basic-product {
    .product-l-col {
      @include span-columns(6, 12);
    }
    .product-r-col {
      @include span-columns(6 omega, 12);
    }

  }
}

@include breakpoint($tab, true) {
  .node-type-basic-product {
    h1{
      font-size: 32px;
    }
    .product-l-col {
      @include span-columns(7, 12);
    }
    .product-r-col {
      @include span-columns(5 omega, 12);
    }

  }
}