.field--name-field-our-work-testimonial {
  background: url('../images/quotemarks.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  .field__items {
    p {
      font-style: italic;
    }
  }
}