@import "susy";

/*BACKGROUND IMAGES*/
.page-node-500 {
  background-image: url("/sites/default/files/environment-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-node-501 {
  background-image: url("/sites/default/files/why-use-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-node-502 {
  background-image: url("/sites/default/files/reasons-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-node-63, .page-node-500, .page-node-501, .page-node-502{
  nav.block--menu-menu-about-secondary-menu{
    ul{
      padding: 0;
      li{
        list-style-image: none;
        list-style: none;
        float: left;
        width: 100%;
        margin-bottom: 10px;
        border: #ffffff 3px solid;
        padding: 5px;
        text-align: center;
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 900;
          color: #ffffff;

        }
      }
    }
  }
  h1{
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }
  .l-content-first, .l-main{
    background: none;
  }
  .field--name-field-main-image{
    img{
      width: 100%;
    }
  }
  .field--name-body{
    background: #ffffff;
    padding: 35px;
    margin-top: -20px;
    p{
      color: #000000;
      font-size: 14px;
    }
  }
  .field--name-field-top-quote{
    float: left;
    margin: 15px 0;
    text-align: center;
    color: #ffffff;
    display: none;
    font-size: 20px;
    font-style: italic;
    line-height: 20px*$line-height-ratio;
  }
}

@include breakpoint($tab-narrow, true) {
  .page-node-63, .page-node-500, .page-node-501, .page-node-502 {
    nav.block--menu-menu-about-secondary-menu {
      ul {
        li {
          width: 49%;
          margin-right: 1%;
        }
        li.last {
          margin-right: 0;
        }
      }
    }
    h1{
      font-size: 30px;
    }
    .field--name-field-top-quote {
      display: block;
    }
  }
}

@include breakpoint($tab, true) {
  .page-node-63, .page-node-500, .page-node-501, .page-node-502 {
    nav.block--menu-menu-about-secondary-menu {
      ul {
        li {
          width: 24.2%;
        }
      }
    }
    h1{
      font-size: 36px;
    }
    .field--name-field-top-quote {
      display: block;
    }
  }
}