.block--block-3 {
  display: block;
  text-align: left;
  @include font-size(30px);
  //clear: both;
  float: right;
  h2.block__title {
    color: $black;
    @include font-size(30px);
  }
}
@include breakpoint($tab-narrow, true) { //600
  .block--block-3 {
    display: inline-block;
    text-align: left;
    h2.block__title {
      color: $black;
      @include font-size(34px);
    }
  }
}
@include breakpoint($tab, true) {
}