.block--block-1 {
  float:left;
  width:100%;
  margin-top: $vert-spacing-unit;
  padding-left: $horz-spacing-unit;
  .block__title {
    line-height: 28px;
  }
  img {
    padding-right: $horz-spacing-unit;
  }
}
@include breakpoint($tab, true) {
  .block--block-1 {
    padding-left:10%;
    width: 33.3333%;
    float: left;
  }
}