.block--asset-plumbing-telephone-switcher {
  .telephone-number-mobile {
    display: inline-block;
    @include font-size(30px);
    font-weight: 800;
    a{
      color: $black;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .telephone-number {
    display: none;
  }
}
@include breakpoint($tab-narrow, true) {
  .block--asset-plumbing-telephone-switcher {
    margin: $vert-spacing-unit 0;
    .telephone-number-mobile {
      display: none;
    }
    .telephone-number {
      display: block;
      clear: both;
      color: $black;
      @include font-size(30px);
      font-weight: 800;
      text-align: left;
    }
  }
}
@include breakpoint($tab-portrait, true) {
  .block--asset-plumbing-telephone-switcher {
    .telephone-number {
      text-align: right;
    }
  }
}