.block--block-8 {
  width:100%;
  float:left;

  h2 {
    margin:5px;
    float:left;
    color: $white;
    @include font-size(16px);
    font-weight:400;
    font-family:$default-font;
  }

  input {
    height: 30px;
    width: 95%;
    float:left;
    margin: 5px;
  }

  .button {
    background:$button-background;
    width: 50%;
    float:right;
    @include font-size(14px);
    margin-right: 4%;
    border: 1px solid white;
    height: 30px;
    color: $black;
    font-weight:400;
    text-transform:uppercase;
  }

}

@include breakpoint($tab-portrait,true) {


  .block--block-8 {

    h2 {
      width: 26%;
      float:left;
      color: $white;
      @include font-size(18px);
    }

    input {
      width: 16%;
      float:left;
      margin: 5px;
      padding-left:5px;
    }

    .button {
      width: 17%;
      float:right;
      margin: 5px;
      border: 1px solid white;
      color: $black;
    }

  }

}