.block--views-blog-posts-block {
  width:100%;
  .view-header {
      a {
        color: $headings-colors;
      }
  }
  display: inline-block;
  clear: both;
  padding: 0;
  margin-bottom: 0;
  h2 {
    padding: $vert-spacing-unit 0;
  }
  img {
    width: 100%;
  }
  .views-field-title-1 {
    @include font-size(14px);
    padding: $vert-spacing-unit 5px;
    margin-top: -80px;
    background: rgba(0,0,0,0.8);
    height: 80px;
    position: relative;
    margin-bottom: 30px;
    a {
      @include font-size(14px);
      font-weight: 400;
      line-height:14px;
      padding-left:10px;
      margin-bottom: 0;
      color:$white!important;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .block--views-blog-posts-block {
    .views-row {
      width: 33.3333%;
      float: left;
      padding: 0;
    }
    .views-row-1 {
      padding: 0 10px 0 0;
    }
    .views-row-2 {
      padding: 0 5px 0 5px;
    }
    .views-row-3 {
      padding: 0 0px 0 10px;
    }
    .views-field-body {
      @include font-size(12px);
    }
  }
}
