.block--views-blog-categories-blog-block {
  margin-bottom: $vert-spacing-unit;
  h2.block__title {
    color: $black;
  }
  .view-blog-categories-blog {
    .views-row {
      border-bottom: 1px solid $black;
      padding: 10px 0;
    }
    .views-row-last {
      border-bottom: 0;
    }
    .category-link {
      text-decoration: none;
      @include font-size(16px);
      font-weight: 800;
      padding: 10px 0;
    }
  }
}