.block--views-locations-block {
  .views-row {
    width: 50%;
    float: left;
  }
  .views-row-odd {
    padding-right: $horz-spacing-unit/2;
  }
  .views-row-even {
    padding-left: $horz-spacing-unit/2;
    padding-right: 0;
  }

  .views-field-title {
    margin-bottom: $vert-spacing-unit;
  }

  .views-field-body {
    min-height: 140px;
  }

  .views-more-link {
    display: block;
    @include font-size(18px);
    text-decoration: none;
    padding-top: $vert-spacing-unit;
    font-weight: 800;
  }

}