.block--views-slideshow-block {
  .flexslider {
    border: 0;
    margin-bottom: 0;
  }
  .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    display: none;
  }
}

@include breakpoint($tab-portrait, true) {
  .block--views-slideshow-block {
    width: 100%;
  /*  float: right;*/
 }
}