.block--views-locations-all-block {

}
@include breakpoint($tab, true) {
  .block--views-locations-all-block {
    clear: both;
    .views-row {
      width: 33.333%;
      float: left;
      padding: 5px;
      display:none;
      .views-more-link {
        text-decoration: none;
        font-weight: 800;
      }
    }
  }
}