.view-front-page-intro {
  width:100%;
  padding: 20px 30px;
  .views-row {
    h2 {
      color: $intro-heading;
      @include font-size(48px);
      line-height: 50px;
      margin: 30px 0;
      text-align: center;
    }
    p {
      color: $intro-body;
      @include font-size(26px);
      text-align: center;
      line-height: 30px;
    }
  }
}
@include breakpoint($tab-portrait, true) {
  .view-front-page-intro {
    padding: 50px 150px;
  }
}
