@import "susy";

.btn{
  border: 3px solid #000000;
  width: 150px;
  margin: 0 auto;
  padding: 5px 0;
  p{
    color: #000000;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
}
.btn:hover{
  border: 3px solid #9e9e9e;
}

.view-list-categories{
  a{
    text-decoration: none;
  }
  .views-row{
    @include span-columns(12, 12);
    margin-bottom: 30px;
    h2{
      font-size: 22px;
      text-align: center;
      margin: 22px 0;
    }
    p{
      text-align: center;
    }
  }
}

@include breakpoint($mobile-narrow, true) {
  .view-list-categories{
    .views-row{
      @include span-columns(6, 12);
    }
    .views-row:nth-child(2n+0){
      @include span-columns(6 omega, 12);
    }
  }
}

@include breakpoint($tab, true) {
  .view-list-categories{
    .views-row{
      @include span-columns(4, 12);
      min-height: 520px;
      margin-bottom: 0;
    }
    .views-row:nth-child(3n+0){
      @include span-columns(4 omega, 12);
    }
    .views-row:nth-child(2n+0){
      @include span-columns(4, 12);
    }
  }
}

@include breakpoint($tab-landscape, true) {
  .view-list-categories {
    .views-row {
      min-height: 600px;
    }
  }
}