/*****************************/
/*       Blog Listings       */
/*****************************/

.view-blog-listing {
  padding-top: $vert-spacing-unit;
  h2.field-content {
    line-height: 26px;
  }
  .views-row {
    padding-bottom: $vert-spacing-unit;
  }
  img {
    float: left;
    width:100%;
    padding: 0 5px 5px 0;
  }
  .views-field-nothing {
    padding-top: $vert-spacing-unit/2;
  }
}

@include breakpoint($mobile-narrow,true) {
  .view-blog-listing {
    img {
      width:auto;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .view-blog-listing {
    .views-field-body {
      min-height: 115px;
      max-height: 115px;
      overflow: hidden;
    }
    .views-field-nothing {
      padding-left: 150px;
    }
  }

}

@include breakpoint($desk, true) {
  .view-blog-listing {
    .views-field-body {
      min-height: 110px;
      max-height: 110px;
    }
    .views-field-nothing {
      padding-left: 200px;
    }
  }

}