@import "susy";

body.page-gallery{
  background-image: url("/sites/default/files/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    color: #ffffff;
    text-align: center;
  }
  .l-content-first, .l-main{
    background: none;
  }
  .block--block-11{
    margin-top: 20px;
    width: 100%;
    display: none;
    p{
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      font-style: italic;
      line-height: 20px*$line-height-ratio;
    }
  }
  .view-our-gallery{
    width: 100%;
    .views-row{
      margin-top: 15px;
    }
    .gallery-text{
      background: #ffffff;
      padding: 15px;
    }
  }
}




@include breakpoint($mobile-narrow, true) {
  body.page-gallery {
    .view-our-gallery {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  body.page-gallery {
      .block--block-11{
        display: block;
      }
  }
}

@include breakpoint($tab, true) {
  body.page-gallery {
    .view-our-gallery {
      column-count: 3;
      -moz-column-count: 3;
      -webkit-column-count: 3;
    }
  }
}