@import "susy";

.page-home {
  .strapline-container {
    background: $strapline;
    height: 290px;
    padding: 30px 0;
    .l-region--info-strapline {
      max-width: 1190px;
      margin: 0 auto;
      .block--views {
        width: 100%;
        float: left;
        text-align: center;
        h3 {
          font-size: 24px;
          font-weight: 800;
          color: #000000;
        }
        p {
          font-size: 14px;
          font-weight: 800;
          color: #000000;
        }
      }
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .page-home {
    .strapline-container {
      height: 150px;
      .l-region--info-strapline {
        .block--views {
          @include span-columns(3, 12);
        }
        .block--views-slider-info-strapline-1-block-3 {
          @include span-columns(3 omega, 12);
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  .page-home {
    .strapline-container {
      height: 120px;
    }
  }
}

@include breakpoint($desk, true) {
  .page-home {
    .strapline-container {
      height: 100px;
    }
  }
}



