@import "susy";

.view-product-listing-top-image {
  .p-list-hero {
    .p-list-text {
      background: #000000;
      padding: 4% 40px;
      h1 {
        font-size: 30px;
        color: #ffffff;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 18px*$line-height-ratio;
        color: #ffffff;
        font-style: italic;
        text-align: center;
      }
    }
    .p-list-image {
      display: none;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .view-product-listing-top-image {
    .p-list-hero {
      height: 448px;
      .p-list-text {
        background: #000000;
        height: 100%;
        width: 62%;
        float: left;
        padding: 8% 80px;
        h1 {
          font-size: 34px;
        }
        p {
          font-size: 22px;
        }
      }
      .p-list-image {
        float: right;
        width: 38%;
        display: block;
      }
    }
  }
}

@include breakpoint($tab-portrait, true) {
  .view-product-listing-top-image {
    .p-list-hero {
      .p-list-text {
        h1 {
          font-size: 42px;
        }
      }
    }
  }
}