@import "susy";

.view-list-services {
  margin-top: 20px;
  .views-row:first-child{
    padding-left: 0px;
  }
  .views-row:last-child{
    padding-right: 0px;
  }
  .views-row {
    padding: 0 20px;
    margin-bottom: 36px;
  }
  h2 {
    font-size: 20px;
    padding: $vert-spacing-unit 0;
    line-height: 26px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .views-field-body {
    overflow: hidden;
  }
  .views-field-field-service-image {
    text-align: center;
  }
  .views-field-view-node {
    border: 3px solid #000000;
    width: 150px;
    margin: 0 auto;
    padding: 5px 0;
    a {
      text-align: center;
      display: block;
      @include font-size(14px);
      text-decoration: none;
      font-weight: 800;
    }
    a:hover{
      color: #767674;
    }
  }
}
@include breakpoint($tab-narrow, true) {
  .view-list-services {
    .views-row {
      @include span-columns(4, 12);
      padding: 0;
    }
    .views-row:last-of-type {
      @include span-columns(4 omega, 12);
    }
    .views-more-link {
      display: block;
      @include font-size(18px);
      text-decoration: none;
      padding-top: $vert-spacing-unit;
      font-weight: 800;
    }

  }
}