.view-our-work {
  .views-row {
    width:100%;
    margin-bottom: $vert-spacing-unit;
    .views-field-field-work-images {
      margin-bottom: $vert-spacing-unit/2;
    }
    img {
      width: 100%;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .page-our-work {
    .view-our-work {
      .views-row {
        width: 50%;
        padding:10px;
        float: left;
      }
      .views-row-odd {
        clear:left;
        padding-left:0px;
      }
      .views-row-even {
        padding-right:0px;
      }
    }
  }
}

