.view-display-id-block_service_listing {
  clear: both;
  h2.block__title {
    margin-bottom: $vert-spacing-unit;
  }
  .views-row {
    width: 100%;
    float: left;
    text-align: center;
    padding: $vert-spacing-unit 0;
  }
  .view-footer {
    display: block;
    a.views-more-link {
      display: block;
      @include font-size(18px);
      text-decoration: none;
      padding-top: $vert-spacing-unit;
      font-weight: 800;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .view-display-id-block_service_listing {
    .views-row {
      width: 33.3333%;
      padding: $vert-spacing-unit $horz-spacing-unit;
      min-height: 100px;
      max-height: 100px;
      margin-bottom: $vert-spacing-unit;
    }
    .view-footer {
      clear: both;
      a.views-more-link {
        display: inline-block;
        margin-top: $vert-spacing-unit;
      }
    }

  }
}
