.block--views-our-work-block-1 {
  display: inline-block;
  clear: both;
  padding: 0;
  width:100%;
  h2 {
    padding: $vert-spacing-unit 0;
  }
  .views-field-body {
    p {
      padding-right: 10px;
    }
  }
  .views-field-field-work-images {
    img {
      width: 100%;
    }
  }
  .views-more-link {
    display: block;
    @include font-size(18px);
    text-decoration: none;
    padding-top: $vert-spacing-unit;
    font-weight: 800;
  }
}
@include breakpoint($tab-narrow, true) {
  .block--views-our-work-block-1 {
    .views-row {
      width: 33.33%;
      padding: 0 $horz-spacing-unit;
      float:left;
    }

    .views-row-1 {
      padding: 0 10px 0 0;
    }
    .views-row-2 {
      padding: 0 5px 0 5px;
    }
    .views-row-3 {
      padding: 0 0px 0 10px;
    }

  }
}