@import "susy";


.view-list-products{
  a{
    text-decoration: none;
  }
  .views-row{
    @include span-columns(12, 12);
    margin-bottom: 30px;
    h2{
      font-size: 22px;
      margin: 22px 0 8px 0;
    }
    .title-underline{
      border-bottom: 3px solid #000000;
      margin-bottom: 8px;
      width: 150px;
    }
  }
}

@include breakpoint($mobile-narrow, true) {
  .view-list-products{
    .views-row{
      @include span-columns(6, 12);
    }
    .views-row:nth-child(2n+0){
      @include span-columns(6 omega, 12);
    }
  }
}

@include breakpoint($tab, true) {
  .view-list-products{
    .views-row{
      @include span-columns(4, 12);
      min-height: 430px;
      margin-bottom: 0;
    }
    .views-row:nth-child(3n+0){
      @include span-columns(4 omega, 12);
    }
    .views-row:nth-child(2n+0){
      @include span-columns(4, 12);
    }
  }
}

@include breakpoint($tab-landscape, true) {
  .view-list-products {
    .views-row {
      min-height: 530px;
    }
  }
}