@import "susy";

.view-home-page-about-us{
  .about-l-col{
    display: none;
    @include span-columns(4, 12);
    margin-top: 40px;
    margin-bottom: 40px;
    img{
      border-radius: 50%;
    }
  }
  .about-r-col{
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    h3{
      font-size: 24px;
      color: #e8e8e8;
      text-align: center;
    }
    p{
      color: #fff;
      text-align: center;
      a{
        color: #fff;
      }
    }
    .btn{
      border: 3px solid #ffffff;
      p{
        color: #ffffff;
      }
    }
    .btn:hover{
      border: 3px solid #9e9e9e;
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .view-home-page-about-us {
    .about-l-col{
        display: block;
    }
    .about-r-col {
      @include span-columns(8 omega, 12);
      float: right;
    }
  }
}