.view-display-id-block_related_blog {
  width: 100%;
  display: inline-block;
  clear: both;
  padding: 0;
  margin-bottom: $vert-spacing-unit;
  h2 {
    padding: $vert-spacing-unit 0;
  }

  img {
    width: 100%;
  }

  .views-field-body {
    color: $white;
    @include font-size(14px);
    background: $black;
    @include opacity(0.7);
    position: relative;
    top: -74px;
    padding: $vert-spacing-unit 5px;
    p {
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .views-field-title-1 {
    @include font-size(14px);
    padding: $vert-spacing-unit 5px;
    margin-top: -80px;
    background: rgba(0,0,0,0.8);
    height: 80px;
    position: relative;
    margin-bottom: 30px;
    a {
      @include font-size(14px);
      font-weight: 400;
      line-height:14px;
      padding-left:10px;
      margin-bottom: 0;
      color:$white!important;
    }
  }


}

@include breakpoint($tab-portrait, true) {
  .view-display-id-block_related_blog {
    .views-row {
      width: 33.3333%;
      float: left;
    }
    .views-row {
      padding: 0 5px;
    }
    .views-row-first {
      padding: 0 10px 0 0px;
    }
    .views-row-last {
      padding: 0 0 0 10px;
    }
    .views-field-body {
      @include font-size(12px);
    }
  }
}

@include breakpoint($desk, true) {
  .view-display-id-block_related_blog {
    .views-field-body {
      @include font-size(13px);
    }
  }
}