.view-product-category-top-image{
  .cat-top-bg{
    height: 450px;
    .feature-text{
      background: rgba(0, 0, 0, 0.7);
      height: 100%;
      padding: 20px 35px;
      h1{
        font-size: 24px;
        color: #ffffff;
        text-align: center;
      }
      p{
        text-align: center;
        color: #ffffff;
      }
      .feat-text-1{
        p{
          font-size: 16px;
          font-style: italic;
          line-height: 16px*$line-height-ratio;
        }
      }
      .feat-text-2{
        p{
          display: none;
          font-size: 16px;
          font-style: italic;
          line-height: 16px*$line-height-ratio;
        }
      }
    }
  }
}

@include breakpoint($mobile-narrow, true) {
  .view-product-category-top-image {
    .cat-top-bg {
      .feature-text {
        padding: 20% 35px;
      }
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .view-product-category-top-image {
    .cat-top-bg {
      .feature-text {
        padding: 10% 35px;
        h1{
          font-size: 32px;
        }
        .feat-text-1{
          p{
            font-size: 22px;
            line-height: 22px*$line-height-ratio;
          }
        }
      }
    }
  }
}

@include breakpoint($tab-portrait, true) {
  .view-product-category-top-image {
    .cat-top-bg {
      .feature-text {
        padding: 50px 50px;
        h1 {
          font-size: 42px;
        }
        .feat-text-2 {
          p {
            display: block;
          }
        }
      }
    }
  }
}